<% content_for :title do %> - Register
<% end %>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-5 col-sm-9 ml-auto mr-auto">
      <%= form_for @user, url: {controller: 'auth', action: 'register'}, html: {class: 'mb-5', id: 'register'} do |form| %>
          <div class="card">
            <div class="card-body">
              <div class="text-center mb-3">
                <h5 class="card-title text-center mb-2">Register</h5>
                <p class="card-subtitle text-muted">Join and create new account</p>
              </div>
              <hr>
              <% if flash[:alert] %>
                  <div class="alert alert-<%= flash[:alert] %>" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <%= flash[:notice] %>
                  </div>
              <% end %>
              <div class="form-group">
                <%= form.label :name %>
                <%= form.text_field :name, class: "form-control#{@user.errors[:name].any? ? ' is-invalid' : ''}", placeholder: 'Enter your full name' %>
                <% if @user.errors[:name].any? %>
                    <span class="form-text invalid-feedback"><%= @user.errors[:name][0] %></span>
                <% end %>
              </div>
              <div class="form-group">
                <%= form.label :username %>
                <%= form.text_field :username, class: "form-control#{@user.errors[:name].any? ? ' is-invalid' : ''}", placeholder: 'Enter unique username' %>
                <% if @user.errors[:username].any? %>
                    <span class="form-text invalid-feedback"><%= @user.errors[:username][0] %></span>
                <% else %>
                <span id="username-help" class="form-text text-muted">
                  Must be unique, alpha numeric and dash only.
                </span>
                <% end %>
              </div>
              <div class="form-group">
                <%= form.label :email, 'Email address' %>
                <%= form.email_field :email, class: "form-control#{@user.errors[:email].any? ? ' is-invalid' : ''}", placeholder: 'Email address' %>
                <% if @user.errors[:email].any? %>
                    <span class="form-text invalid-feedback"><%= @user.errors[:email][0] %></span>
                <% end %>
              </div>
              <div class="form-group">
                <%= form.label :password %>
                <%= form.password_field :password, class: "form-control#{@user.errors[:password].any? ? ' is-invalid' : ''}", placeholder: 'Put secure password' %>
                <% if @user.errors[:password].any? %>
                    <span class="form-text invalid-feedback"><%= @user.errors[:password][0] %></span>
                <% end %>
              </div>
              <div class="form-group">
                <%= form.label :password_confirmation %>
                <%= form.password_field :password_confirmation, class: "form-control#{@user.errors[:password_confirmation].any? ? ' is-invalid' : ''}", placeholder: 'Repeat your password' %>
                <% if @user.errors[:password_confirmation].any? %>
                    <span class="form-text invalid-feedback"><%= @user.errors[:password_confirmation][0] %></span>
                <% end %>
              </div>
              <div class="form-group mb-0">
                <label class="custom-control custom-checkbox">
                  <%= form.check_box :terms_of_service, class: "custom-control-input#{@user.errors[:terms_of_service].any? ? ' is-invalid' : ''}" %>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">
                    I agree with <%= link_to('terms', static_agreement_path) %>
                      and <%= link_to('privacy', static_privacy_path) %> policy
                  </span>
                </label>
                <% if @user.errors[:terms_of_service].any? %>
                    <span class="form-text invalid-feedback"><%= @user.errors[:terms_of_service][0] %></span>
                <% end %>
              </div>
            </div>
            <div class="card-footer">
              <%= submit_tag('Sign Up', {class: 'btn btn-block btn-primary'}) %>
              <p class="text-center mt-3 mb-1">Have an account?
                <a href="<%= url_for(controller: 'auth', action: 'login') %>">Sign In</a> now
              </p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>