<%
  registeredCommenter = User.find(comment.user_id)
  if registeredCommenter.nil?
    avatar = 'noavatar.jpg'
  else
    avatar = registeredCommenter.avatar
  end
%>
<div class="media">
  <a class="d-flex pr-3" href="#">
    <img style="height: 64px; width: 64px; display: block; background: url('/images/avatars/<%= avatar %>') center center / cover">
  </a>
  <div class="media-body">
    <h5 class="mt-0">
      <% if(registeredCommenter.nil?) %>
          <%= comment.name %>
      <% else %>
          <%= link_to comment.name, profile_path(username: registeredCommenter.username) %>
      <% end %>
      <small class="text-muted small">(<%= comment.email %>)</small>
    </h5>
    <p class="text-muted small mb-1">
      <%= comment.created_at.strftime('%B %d, %Y %I:%M %p') %>
    </p>
    <%= comment.comment %>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#"><span class="arrow arrow-up"></span></a>
      </li>
      <li class="list-inline-item">
        <%= comment.votes %>
      </li>
      <li class="list-inline-item">
        <a href="#"><span class="arrow arrow-down"></span></a>
      </li>
      <li class="list-inline-item">
        <%= link_to t(:action_reply), [comment.article, comment] %>
      </li>
      <% if !registeredCommenter.nil? && is_authorized(registeredCommenter) || params[:controller] == 'articles' %>
        <li class="list-inline-item">
          <%= link_to t(:action_delete), [comment.article, comment],
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>

    </ul>

    <% if(comment.comments.count > 0) %>
        <%= render comment.comments %>
    <% end %>
  </div>
</div>