<%
  registeredCommenter = User.find_by_id(comment.user_id)
  if registeredCommenter.nil?
    avatar = 'noavatar.jpg'
  else
    avatar = registeredCommenter.avatar
  end
%>
<div class="media">
  <a class="d-flex pr-3" href="#">
    <img style="height: 64px; width: 64px; display: block; background: url('/images/avatars/<%= avatar %>') center center / cover">
  </a>
  <div class="media-body">
    <h5 class="mt-0">
      <% if(registeredCommenter.nil?) %>
          <%= comment.name %>
      <% else %>
          <%= link_to comment.name, profile_path(username: registeredCommenter.username) %>
      <% end %>
      <small class="text-muted small">(<%= comment.email %>)</small>
    </h5>
    <p class="text-muted small mb-1">
      <%= comment.created_at.strftime('%B %d, %Y %I:%M %p') %>
    </p>
    <%= comment.comment %>
    <ul class="list-inline comment-control" data-id="<%= comment.id %>">
      <li class="list-inline-item">
        <a href="<%= vote_comment_url type: 'up' %>" class="btn-vote" data-type="up">
          <span class="arrow arrow-up"></span>
        </a>
      </li>
      <li class="list-inline-item vote-counter">
        <%= comment.votes %>
      </li>
      <li class="list-inline-item">
        <a href="<%= vote_comment_url type: 'down' %>" class="btn-vote" data-type="down">
          <span class="arrow arrow-down"></span>
        </a>
      </li>
      <% unless counter == 0 %>
        <li class="list-inline-item">
          <%= link_to t(:action_reply), '#', class: 'btn-reply' %>
        </li>
      <% end %>
      <% if !registeredCommenter.nil? && is_authorized(registeredCommenter) || params[:controller] == 'articles' %>
        <li class="list-inline-item">
          <%= link_to t(:action_delete), [comment.article, comment],
                      method: :delete,
                      data: { confirm: 'Are you sure want to delete this comment?' } %>
        </li>
      <% end %>

    </ul>

    <% if(comment.comments.count > 0) %>
        <%= render comment.comments, counter: counter-1 %>
    <% end %>
  </div>
</div>