<div class="row mb-4" id="comment-form-wrapper">
  <div class="<%= params[:controller] == 'articles' ? 'col-lg-12' : 'col-lg-8' %>">

    <%= form_for([@article, @article.comments.build]) do |f| %>
        <input type="hidden" name="comment[comment_id]" value="">
        <% if is_authorized() %>
            <% author = User.find(session[:authorized_id]) %>
            <div class="d-block d-sm-flex text-center text-sm-left mb-1">
              <img class="mr-3 mb-1" style="width: 40px; height: 40px;"
                   src="/images/avatars/<%= author.avatar %>"
                   data-holder-rendered="true">
              <div>
                <h6 class="mb-1">
                  <a href="<%= url_for(controller: 'author', action: 'profile', username: author.username) %>" role="button">
                    <%= author.name %>
                  </a>
                </h6>
                <ul class="list-inline list-node text-muted mb-1">
                  <li class="list-inline-item">
                    <%= author.email %>
                  </li>
                  <li class="list-inline-item">
                    Total <%= t(:menu_articles) %> <%= author.articles.count %>
                  </li>
                </ul>
              </div>
            </div>
        <% else %>
            <div class="form-group">
              <%= f.label :name, t(:label_name) %>
              <%= f.text_field :name, class: 'form-control', placeholder: 'Your full name' %>
            </div>
            <div class="form-group">
              <%= f.label :email, t(:label_email) %>
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email address' %>
            </div>
        <% end %>
        <div class="form-group">
          <%= f.label :comment, t(:label_comments) %>
          <%= f.text_area :comment, class: 'form-control', placeholder: 'Comment put here' %>
        </div>
        <div class="form-group">
          <%= submit_tag('Submit', {class: 'btn btn-primary'}) %>
        </div>
    <% end %>

  </div>
</div>


<div class="modal fade" id="modal-delete-comment">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">Are you sure want to delete this comment?</p>
      </div>
      <div class="modal-footer">
        <form action="#" method="post">
          <input name="utf8" type="hidden" value="&#x2713;"/>
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input name="_method" value="delete" type="hidden">
          <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>