<div class="card mb-5">
  <img class="card-img-top" style="height: 180px; width: 100%; display: block; background: url('/images/features/<%= article.featured %>') center center / cover">
  <div class="card-body">
    <h4 class="card-title">
      <% if is_authorized(article) %>
          <a href="<%= article_path article %>">
            <%= article.title %>
          </a>
      <% else %>
          <a href="<%= url_for(controller: 'blog', action: 'show', slug: article.slug) %>">
            <%= article.title %>
          </a>
      <% end %>
    </h4>
    <ul class="list-inline list-node text-muted">
      <li class="list-inline-item">
        <%= t(:label_published_on) %> <%= article.created_at.strftime('%B %d, %Y') %>
      </li>
      <li class="list-inline-item">
        <%= t(:menu_categories) %>
        <a href="<%= url_for(controller: 'blog', action: 'category', slug: article.category.slug) %>">
          <%= article.category.category %>
        </a>
      </li>
      <li class="list-inline-item">
        <%= article.views %>x <%= t(:label_views) %>
      </li>
    </ul>

    <p class="card-text">
      <%= truncate(strip_tags(article.content), length: 300, separator: ' ') %>
    </p>
  </div>

  <% if is_authorized(article) %>
      <div class="card-footer">
        <div class="dropdown d-inline-block card-link">
          <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="icon-share mr-1"></i> <%= t(:action_share) %>
          </a>
          <div class="dropdown-menu">
            <h6 class="dropdown-header"><%= t(:label_socials) %></h6>
            <a class="dropdown-item" target="_blank" href="https://facebook.com/sharer/sharer.php?u=<%= u(blog_show_url slug: article.slug) %>">
              <i class="icon-social-facebook mr-2"></i>Facebook
            </a>
            <a class="dropdown-item" target="_blank" href="https://twitter.com/intent/tweet/?text=<%= u('Great article!, ' + article.title + ' via @BlogStrap') %>">
              <i class="icon-social-twitter mr-2"></i>Twitter
            </a>
            <a class="dropdown-item" target="_blank" href="https://plus.google.com/share?url=<%= u(blog_show_url slug: article.slug) %>">
              <i class="icon-social-google mr-2"></i> Google
            </a>
            <a class="dropdown-item" target="_blank" href="mailto:?subject=<%= u('Great article!, ' + article.title) %>&body=<%= u('Hey ready this awesome article: ') + blog_show_url(slug: article.slug) %>">
              <i class="icon-envelope mr-2"></i> Email
            </a>
          </div>
        </div>
        <a href="<%= edit_article_path(article) %>" class="card-link">
          <i class="icon-note mr-1"></i> <%= t(:action_edit) %>
        </a>
        <a href="<%= article_path(article) %>" data-title="<%= article.title %>" class="card-link btn-delete-article">
          <i class="icon-trash mr-1"></i> <%= t(:action_delete) %>
        </a>
      </div>
  <% end %>
</div>