<% if flash[:alert] %>
    <div class="alert alert-<%= flash[:alert] %>" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= flash[:notice] %>
    </div>
<% end %>

<%= form_for @article, class: 'mb-5' do |form| %>
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, 'data-target': '#article_slug', class: "slugify form-control#{@article.errors[:title].any? ? ' is-invalid' : ''}", placeholder: 'Post title' %>
      <% if @article.errors[:name].any? %>
          <span class="form-text invalid-feedback"><%= @article.errors[:title][0] %></span>
      <% end %>
    </div>
    <div class="form-group">
      <%= form.label :slug %>
      <div class="input-group">
        <span class="input-group-addon"><%= root_url %>/article/</span>
        <%= form.text_field :slug, class: "form-control#{@article.errors[:slug].any? ? ' is-invalid' : ''}", readonly: true %>
        <span class="input-group-btn">
          <button class="btn btn-primary" id="btn-edit-slug" data-target="#article_slug" type="button">Edit</button>
        </span>
      </div>
      <% if @article.errors[:slug].any? %>
          <span class="form-text invalid-feedback d-block"><%= @article.errors[:slug][0] %></span>
      <% else %>
          <small id="username-help" class="form-text text-muted">
            Automatic guessed, must be unique and separated by dash.
          </small>
      <% end %>
    </div>
    <div class="form-group">
      <%= form.label :category_id, 'Category' %>
      <%= form.collection_select :category_id, Category.all, :id, :category, {prompt: 'Select a category'}, {class: "custom-select d-block form-control#{@article.errors[:category_id].any? ? ' is-invalid' : ''}"} %>
      <% if @article.errors[:category_id].any? %>
          <span class="form-text invalid-feedback"><%= @article.errors[:category_id][0] %></span>
      <% end %>
    </div>
    <div class="row">
      <div class="col col-sm-6">
        <div class="form-group">
          <%= form.label :status_published, 'Status' %>
          <div>
            <label class="custom-control custom-radio">
              <%= form.radio_button :status, 'published', {class: 'custom-control-input', checked: true} %>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description"> Published</span>
            </label>
            <label class="custom-control custom-radio">
              <%= form.radio_button :status, 'draft', {class: 'custom-control-input'} %>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description"> Draft</span>
            </label>
          </div>
          <% if @article.errors[:status].any? %>
              <span class="form-text invalid-feedback d-block"><%= @article.errors[:status][0] %></span>
          <% end %>
        </div>
      </div>
      <div class="col col-sm-6">
        <div class="form-group">
          <%= form.label :featured %>
          <div>
            <label class="custom-file">
              <%= form.file_field :featured, class: "custom-file-input#{@article.errors[:featured].any? ? ' is-invalid' : ''}" %>
              <span class="custom-file-control"></span>
            </label>
          </div>
          <% if @article.errors[:featured].any? %>
              <span class="form-text invalid-feedback"><%= @article.errors[:featured][0] %></span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :content %>
      <%= form.text_area :content, class: "text-editor form-control#{@article.errors[:content].any? ? ' is-invalid' : ''}", placeholder: 'Article content', rows: 7 %>
      <% if @article.errors[:content].any? %>
          <span class="form-text invalid-feedback"><%= @article.errors[:content][0] %></span>
      <% end %>
    </div>
    <div class="form-group">
      <%= form.label :all_tags, 'Tags' %>
      <div>
        <%= form.text_field :all_tags, class: "tags form-control#{@article.errors[:all_tags].any? ? ' is-invalid' : ''}", placeholder: 'Tags separated with comma' %>
      </div>
      <% if @article.errors[:all_tags].any? %>
          <span class="form-text invalid-feedback"><%= @article.errors[:all_tags][0] %></span>
      <% end %>
    </div>
    <div class="form-group mt-4">
      <%= submit_tag('Save Article', {class: 'btn btn-block btn-primary'}) %>
    </div>
<% end %>