<h3>Visitor <%= @contact.name %> send a message</h3>
<p>
  Below is your visitor message,
</p>
<ul>
  <li>from: <%= @contact.name %>.</li>
  <li>email: <%= @contact.email %>.</li>
  <li>subject: <%= @contact.subject %>.</li>
  <li>message: <%= @contact.message %>.</li>
</ul>
<p>Thanks for your attention and have a great day!</p>