<div class="mb-5">
  <img class="mb-3" style="height: 230px; width: 100%; display: block; background: url('<%= asset_path('features/'+article.featured) %>') center center / cover">
  <h3>
    <a href="<%= url_for(controller: 'blog', action: 'show', slug: article.slug) %>">
      <%= article.title %>
    </a>
  </h3>
  <ul class="list-inline">
    <li class="list-inline-item">
      <%= article.created_at.strftime('%B %d, %Y %I:%M %p') %>
    </li>
    <li class="list-inline-item">
      By
      <a href="<%= url_for(controller: 'author', action: 'profile', username: article.user.username) %>">
        <%= article.user.name %>
      </a>
    </li>
    <li class="list-inline-item">
      <%= article.comments.where('comment_id IS NULL').count %> Comments
    </li>
  </ul>
  <div class="mb-3">
    <%= truncate(strip_tags(article.content), length: 300, separator: ' ') %>
  </div>
  <a href="<%= url_for(controller: 'blog', action: 'show', slug: article.slug) %>">READ MORE</a>
</div>