<div class="mb-5">
  <h3><a href="/article/<%= article.slug %>"><%= article.title %></a></h3>
  <ul class="list-inline">
    <li class="list-inline-item">
      <%= article.created_at.strftime('%B %d, %Y %I:%M %p') %>
    </li>
    <li class="list-inline-item">
      By <a href="/author/<%= article.user.username %>"><%= article.user.name %></a>
    </li>
    <li class="list-inline-item">
      <%= article.comments.count %> Comments
    </li>
  </ul>
  <div class="mb-3">
    <%= truncate(strip_tags(article.content), length: 300, separator: ' ') %>
  </div>
  <a href="#">READ MORE</a>
</div>