<% content_for :title do %> - Archive <%= I18n.t('date.month_names')[@month.to_i] %>, <%= @year %>
<% end %>

<% content_for :banner_content do %>
    <h1 class="display-5 mb-0">
      Archive:
      <%= I18n.t('date.month_names')[@month.to_i] %>,
      <%= @year %>
    </h1>
<% end %>

<%= render template: 'layouts/base' %>