<% content_for :title do %> - <%= @category.category %>
<% end %>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-5">Category: <%= @category.category %></h1>
    <p>
      <%= @category.description %>
    </p>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 col-lg-9">

      <%= render partial: 'article', collection: @articles %>

      <%= paginate @articles %>

    </div>
    <div class="col-lg-3 d-md-block" hidden>
      <%= render 'sidebar' %>
    </div>
  </div>
</div>