<% content_for :title do %> - Homepage
<% end %>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-9">
      <div class="pr-xl-4">
        <%= render partial: 'articles/viewer', locals: {article: @article} %>

        <h4 class="mb-4 mt-5"><%= t(:label_author) %></h4>
        <%= render partial: 'author/author_card', locals: {author: @article.user} %>

        <h4 class="mb-4 mt-5" id="comment"><%= t(:label_comments) %></h4>
        <%= render 'comments/form' %>

        <div class="mb-5 mt-5">
          <%= render @article.comments.where('comment_id IS NULL').order(created_at: :desc) %>
        </div>
      </div>
    </div>
    <div class="col-lg-3 d-md-block" hidden>
      <%= render 'sidebar' %>
    </div>
  </div>
</div>