<% content_for :title do %> - <%= @article.title %>
<% end %>

<% content_for :head do %>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-584ce81653d5a038"></script>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
<% end %>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-9">
      <div class="pr-xl-4">
        <%= render partial: 'articles/viewer', locals: {article: @article} %>

        <h4 class="mb-4 mt-5"><%= t(:action_share) %></h4>
        <div class="addthis_inline_share_toolbox"></div>

        <h4 class="mb-4 mt-5"><%= t(:label_author) %></h4>
        <%= render partial: 'author/author_card', locals: {author: @article.user} %>

        <h4 class="mb-4 mt-5" id="comment"><%= t(:label_comments) %></h4>
        <%= render 'comments/form' %>

        <div class="mb-5 mt-5">
          <%= render @article.comments.where('comment_id IS NULL').order(created_at: :desc) %>
        </div>
      </div>
    </div>
    <div class="col-lg-3 d-md-block" hidden>
      <%= render 'sidebar' %>
    </div>
  </div>
</div>

<script>
    $(document).on('turbolinks:load', function () {
        var storageKey = 'blogstrap-viewer';
        var viewHistory = [];
        var localViewerData = localStorage.getItem(storageKey);
        if (localViewerData != null) {
            viewHistory = JSON.parse(localViewerData);
        }

        function checkViewHistory(article) {
            var isIdExist = false;
            for (var i = 0; i < viewHistory.length; i++) {
                if (article == viewHistory[i]) {
                    isIdExist = true;
                    break;
                }
            }
            return isIdExist;
        }

        if (!checkViewHistory(<%= @article.id %>)) {
            setTimeout(function () {
                $.ajax({
                    url: '<%= count_article_url %>',
                    method: 'post',
                    dataType: 'json',
                    data: {
                        id: '<%= @article.id %>',
                        authenticity_token: window._token
                    },
                    success: function (data) {
                        viewHistory.push(data.result.id);
                        localStorage.setItem(storageKey, JSON.stringify(viewHistory));
                    },
                    error: function (data) {
                        console.log(data.message)
                        debugger;
                    }
                })
            }, 15000);
        }
    });
</script>