<div class="card mb-4">
  <img class="card-img-top" style="height: 180px; width: 100%; display: block; background: url('/images/features/<%= article.featured %>') center center / cover">
  <div class="card-body">
    <h4 class="card-title">
      <a href="<%= url_for(controller: 'blog', action: 'show', slug: article.slug) %>">
        <%= article.title %>
      </a>
    </h4>
    <ul class="list-inline list-node text-muted">
      <li class="list-inline-item">
        <%= t(:label_published_on) %> <%= article.created_at.strftime('%B %d, %Y') %>
      </li>
      <li class="list-inline-item">
        <%= t(:menu_categories) %>
        <a href="<%= url_for(controller: 'blog', action: 'category', slug: article.category.slug) %>">
          <%= article.category.category %>
        </a>
      </li>
      <li class="list-inline-item">
        <%= article.views %>x <%= t(:label_views) %>
      </li>
    </ul>

    <p class="card-text">
      <%= truncate(strip_tags(article.content), length: 300, separator: ' ') %>
    </p>

    <% if !session[:is_authorized].nil? && article.user_id == session[:authorized_id]  %>
        <a href="#" class="card-link" data-toggle="modal" data-target="#dialog-share">
          <%= t(:action_share) %>
        </a>
        <a href="<%= edit_article_path(article) %>" class="card-link">
          <%= t(:action_edit) %>
        </a>
        <a href="#" class="card-link" data-toggle="modal" data-target="#dialog-delete">
          <%= t(:action_delete) %>
        </a>
    <% end %>
  </div>
</div>