<div class="jumbotron banner-overlay" style="background: url('/images/blog2.jpg') center center / cover">
  <div class="container banner-content">
    <div class="d-block d-sm-flex text-center text-sm-left">
      <img class="mr-sm-4 mb-3 mb-sm-0" style="width: 90px; height: 90px;"
           src="/images/avatars/<%= @author.avatar %>"
           data-holder-rendered="true">
      <div>
        <h3 class="mb-3 mb-md-1">
          <% if is_authorized(@author) %>
              <span class="d-md-inline" hidden>Welcome back, </span>
          <% end %>
          <strong><%= @author.name %></strong>
        </h3>
        <ul class="list-inline text-muted list-node mb-0">
          <li class="list-inline-item">
            Published <%= pluralize(@author.articles.count, 'article') %>
          </li>
          <li class="list-inline-item">
            Joined since <%= @author.created_at.strftime('%B %d, %Y') %>
          </li>
        </ul>
        <p class="d-md-block" hidden>
          <%= @author.about.nil? ? 'No story available' : @author.about %>
        </p>
        <% if is_authorized(@author) && params[:action] == 'index' %>
            <a class="btn btn-primary" href="<%= settings_form_path %>" role="button">
              <i class="icon-equalizer"></i>
            </a>
            <a class="btn btn-primary" href="<%= new_article_path %>" role="button">
              <i class="icon-note"></i> Create New Post
            </a>
        <% end %>
      </div>
    </div>
  </div>
</div>