<% content_for :title do %> - <%= @author.name %>
<% end %>

<%= render 'author/header' %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 ml-lg-auto mr-lg-auto">
      <div class="row mb-4">
        <div class="col-6 mt-2">
          <h4><%= t(:menu_articles) %></h4>
        </div>
        <div class="col-6 text-right">
          <%= render partial: 'articles/filter', locals: {author: @author} %>
        </div>
      </div>

      <% if @articles.count == 0 %>
          <% content_for :footer_fixed do %> fixed-bottom
          <% end %>
      <% end %>

      <%= render partial: 'articles/article_card', collection: @articles, as: :article %>

      <%= paginate @articles %>

    </div>
  </div>
</div>