<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BlogStrap.io<%= yield :title %></title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield(:head) %>
</head>

<body class="pt-5">
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">BlogStrap.io</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item <%= params[:controller] == 'blog' && params[:action] == 'index' ? 'active' : '' %>">
          <a class="nav-link" href="<%= root_url %>"><%= t(:menu_home) %></a>
        </li>
        <li class="nav-item <%= params[:controller] == 'blog' && params[:action] == 'trending' ? 'active' : '' %>">
          <a class="nav-link" href="<%= url_for(controller: 'blog', action: 'trending') %>"><%= t(:menu_trending) %></a>
        </li>
        <li class="nav-item <%= params[:controller] == 'author' && params[:action] == 'top' ? 'active' : '' %>">
          <a class="nav-link" href="<%= url_for(controller: 'author', action: 'top') %>"><%= t(:menu_top_contributors) %></a>
        </li>
        <li class="nav-item dropdown <%= params[:action] == 'category' ? 'active' : '' %>">
          <a class="nav-link dropdown-toggle" href="#" id="navbarBrowse" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <%= t(:menu_categories) %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarBrowse">
            <% @categoriesMenu.each do |category| %>
                <a class="dropdown-item <%= params[:action] == 'category' && params[:slug] == category.slug ? 'active' : '' %>"
                   href="<%= url_for(controller: 'blog', action: 'category', slug: category.slug) %>">
                  <%= category.category %>
                </a>
            <% end %>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= url_for(controller: 'auth', action: 'login') %>">
            Sign In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= url_for(controller: 'auth', action: 'register') %>">
            Register
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            Angga Ari Wijaya
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">Main Menu</h6>
            <a class="dropdown-item" href="<%= articles_path %>">
              <%= t(:menu_articles) %>
            </a>
            <a class="dropdown-item" href="<%= settings_path %>">
              <%= t(:menu_settings) %>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= logout_path %>">
              <%= t(:menu_sign_out) %>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

<div class="container<%= yield :footer_fixed %>">
  <hr>
  <footer class="row">
    <div class="col-md-6 text-center text-sm-left">
      <p>© BlogStrap.io 2017</p>
    </div>
    <div class="col-md-6 text-right d-sm-block" hidden>
      <ul class="list-inline">
        <% locales = %w(en id).map {|l| l.prepend '/'} %>
        <% baseUrl = request.protocol+request.host_with_port %>
        <% queryString = request.fullpath.sub(Regexp.union(locales), '') %>
        <li class="list-inline-item"><%= t(:label_language) %>:</li>
        <li class="list-inline-item"><%= link_to('English', "#{baseUrl}/en#{queryString}") %></li>
        <li class="list-inline-item mr-4"><%= link_to('Indonesia', "#{baseUrl}/id#{queryString}") %></li>

        <li class="list-inline-item">
          <a href="<%= url_for(controller: 'static', action: 'agreement') %>">
            <%= t(:menu_agreement) %>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="<%= url_for(controller: 'static', action: 'privacy') %>">
            <%= t(:menu_privacy) %>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="<%= url_for(controller: 'contact', action: 'form') %>">
            <%= t(:menu_contact_us) %>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>

</body>
</html>
