<div class="jumbotron banner-overlay"<%= yield(:banner_image) %>>
  <div class="container banner-content">
    <%= content_for?(:banner_content) ? yield(:banner_content) : yield %>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <div class="pr-xl-4">

        <%= render partial: 'articles/article', collection: @articles %>

        <%= paginate @articles %>

      </div>
    </div>
    <div class="col-lg-3 d-md-block" hidden>
      <%= render 'sidebar' %>
    </div>
  </div>
</div>